<div class='container'>
    <h2>Add a Book</h2>
    <form method='post' action='/admin/store'>
        <div class='mt-4'>
            <div class='mb-3'>
                <label class='form-label'>Name</label>
                <input type='text' class='form-control' name='title' />
            </div>
             <div class='mb-3'>
                <label for='formGroupExampleInput2' class='form-label'>Price</label>
                <input type='text' class='form-control' name='price' />
            </div>
            <div class='mb-3'>
                <label for='formGroupExampleInput2' class='form-label'>Author</label>
                <input type='text' class='form-control' name='author' />
            </div>
            <div class='mb-3'>
                <label class='form-label'>Category</label>
                <input type='text' class='form-control' name='category' />
            </div>
            <div class='mb-3'>
                <label class='form-label'>Description</label>
                <input type='text' class='form-control' name='description' />
            </div>
            <div class='mb-3'>
                <label for='formGroupExampleInput2' class='form-label'>Link img 1</label>
                <input type='text' class='form-control' name='img1' />
            </div>
             <div class='mb-3'>
                <label for='formGroupExampleInput2' class='form-label'>Link img 2</label>
                <input type='text' class='form-control' name='img2' />
            </div>
             <div class='mb-3'>
                <label for='formGroupExampleInput2' class='form-label'>Link img 3</label>
                <input type='text' class='form-control' name='img3' />
            </div>
            <input type='submit' />
        </div>
    </form>
</div>