<div class="container">
    <div>
    <a href="/admin/add-a-book">
        <button>
            add a book
        </button>
    </a>
    </div>
    <div>
    <a href="/admin/book-magement">
        <button>
            book managements
        </button>
    </a>
    </div>
</div>

