<!-- Section: Design Block -->
<section class='text-center'>
    <!-- Background image -->
    <div
        class='p-5 bg-image'
        style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "
    ></div>
    <!-- Background image -->

    <div
        class='card mx-4 mx-md-5 shadow-5-strong'
        style='
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        '
    >
        <div class='card-body py-5 px-md-5'>

            <div class='row d-flex justify-content-center'>
                <div class='col-lg-8'>
                    <h2 class='fw-bold mb-5'>Sign up now</h2>
                    <form
                        id='register-submit-form'
                        method='POST'
                        action='/auth/api/register'
                    >
                        <!-- 2 column grid layout with text inputs for the first and last names -->

                        <div class='form-outline mb-4'>
                            <input
                                id='name'
                                type='text'
                                name='username'
                                class='form-control'
                                value='{{old_username}}'
                            />
                            <label class='form-label'>user name</label>
                        </div>

                        <!-- Email input -->
                        <div class='form-outline mb-4'>
                            <input
                                id='email'
                                type='email'
                                name='email'
                                class='form-control'
                                value='{{old_email}}'
                            />
                            <label class='form-label'>Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class='form-outline mb-4'>
                            <input
                                type='password'
                                id='password1'
                                name='password'
                                minlength='6'
                                class='form-control'
                            />
                            <label class='form-label'>Password</label>
                        </div>

                        <!-- Password input -->
                        <div class='form-outline mb-4'>
                            <input
                                type='password'
                                id='password2'
                                name='cpassword'
                                minlength='6'
                                class='form-control'
                            />
                            <label class='form-label'>Enter again Password</label>
                        </div>

                        <div class='form-outline mb-4'>
                            <label id='usedEmail' {{emailIsUsed}}>Email already
                                used</label>
                            <label id='passMatch' {{isMatch}}>Pasword is not
                                matched</label>

                        </div>

                        <!-- Checkbox -->
                        <div
                            class='form-check d-flex justify-content-center mb-4'
                        >
                            <input
                                class='form-check-input me-2'
                                type='checkbox'
                                value=''
                                id='form2Example33'
                                checked
                            />
                            <label class='form-check-label'>
                                Subscribe to our newsletter
                            </label>
                        </div>
                        <button
                            type='submit'
                            id='submit-button'
                            class='btn btn-primary btn-block mb-4'
                        >
                            Sign up
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>